@model IEnumerable<Odrys.Areas.Admin.Models.SPageModel>
@{
    ViewBag.Title = "Страници";
}
<h2>Страници</h2>
<div class="pe_toolbox">
    <ul>
        <li>Нова страница
                <ul style="width: 150px;">
                    <li class="pe_toolbox_item">@Html.ActionLink("HTML Page", "Create", new { id = 1 }, null)</li>
                    <li class="pe_toolbox_item">@Html.ActionLink("MVC Page", "Create", new { id = 2 }, null)</li>
                    <li class="pe_toolbox_item">@Html.ActionLink("MVC Layout", "Create", new { id = 3 }, null)</li>
                </ul>
        </li>
    </ul>
</div>
<br /><br />
<table class="grid">
    <tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.ActionLink("Редакция", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
