@model Odrys.Areas.Admin.Models.SiteModel
@{
    ViewBag.Title = "Нов сайт";
}

<h2>Нов сайт</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ViewID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ViewID)
            @Html.ValidationMessageFor(model => model.ViewID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ViewThemeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ViewThemeID)
            @Html.ValidationMessageFor(model => model.ViewThemeID)
        </div>
    
        <br />
        <p>
            <input type="submit" value="Запис" class="input_button" />
            @Html.ActionLink("Отказ", "Index", null, new { @class = "link_button" })
        </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
